<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://deploy-watchinfo.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>False</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/34cd0048-a4c1-4ccb-a729-4df7f3cb6e2a/resourceGroups/learn-efd4b3e0-c032-46d1-b911-e2e234913376/providers/Microsoft.Web/sites/deploy-watchinfo</ResourceId>
    <UserName>$deploy-watchinfo</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishUrl>https://deploy-watchinfo.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>